body{font-family: 'Lato', sans-serif;}
a,button{text-decoration: none;transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;}
.stby{color: #21A843;text-transform:capitalize;}
.stsl{color: #FF0000;text-transform:capitalize;}
.svg-18 svg{width: 18px;height: 18px;}
.svg-20 svg{width: 20px;height: 20px;}
.svg-24 svg{width: 24px;height: 24px;}
.svg-26 svg{width: 26px;height: 26px;}
.svg-28 svg{width: 28px;height: 28px;}
.tbl-w-20{width: 20px;max-width: 20px;min-width: 20px;}
.tbl-w-180{width: 180px;max-width: 180px;min-width: 180px;}
.tbl-w-140{width: 140px;max-width: 140px;min-width: 140px;}
.tbl-w-100{width: 100px;max-width: 100px;min-width: 100px;}
.tbl-w-386{width: 386px;max-width: 386px;min-width: 386px;}
.text-muted{pointer-events: none;}
.fs-14 {font-size: 14px !important;}
.fw-semibold{font-weight: 600 !important;}
@media (max-width:460px) {
	.tbl-sm-w-180{width: 180px;max-width: 180px;min-width: 180px;}
	.tbl-sm-w-220{width: 220px;max-width: 220px;min-width: 220px;}
	.tbl-sm-w-100{width: 100px;max-width: 100px;min-width: 100px;}
}
/* HEADER */
header{background: #FFF;box-shadow: 0px 1px 28px 0px rgba(0, 0, 0, 0.12);}
.header-main {padding-top: 10px;padding-bottom: 10px;display: flex;justify-content: space-between;flex-wrap: wrap;gap: 10px;border-bottom: 1px solid #DFDFE0;;}
header .navigation-menu .nav {list-style: none;margin: 0;gap: 30px;}
header .navigation-menu .nav .nav-item {position: relative;}
header .nav-mobile {display: none;height: 55px;width: 55px;}
@media (min-width: 991.98px){header .navigation-menu .nav {display: flex !important;}}
@media (max-width: 991.98px){header .nav-mobile {display: flex;align-items: center;justify-content: center;}
.dm-block{display: block !important;}
header .navigation-menu{width: 100%;}
header .navigation-menu .nav {display: none;background: rgba(255, 255, 255, 0.9);}
header .navigation-menu .nav .nav-item a {padding: 12px 15px;line-height: 14px;}
header .navigation-menu .nav .nav-item ul li a {padding-left: 30px;}
header .nav-dropdown {position: static;}}
#nav-toggle{cursor: pointer;padding: 10px 35px 16px 0px;border: none;background: transparent;outline: none;}
#nav-toggle span{position: relative;}
#nav-toggle span,#nav-toggle span:before,#nav-toggle span:after {cursor: pointer;border-radius: 1px;height: 3px;width: 28px;background: #000;position: absolute;display: block;border-radius: 8px;content: "";transition: all 200ms ease-in-out;-o-transition: all 200ms ease-in-out;-moz-transition: all 200ms ease-in-out;-webkit-transition: all 200ms ease-in-out;}
#nav-toggle span:before{top: -8px;}
#nav-toggle span:after{bottom: -8px;}
#nav-toggle.active span{background-color: transparent;}
#nav-toggle.active span:before,#nav-toggle.active span:after {top: 0;}
#nav-toggle.active span:before {transform: rotate(45deg);background: #000;}
#nav-toggle.active span:after {transform: rotate(-45deg);background: #000;}
.navigation-menu .nav .nav-item a {display: block;padding: 12px 0;color: #000;font-size: 18px;font-style: normal;font-weight: 500;line-height: normal;position: relative;text-decoration: none;}
.navigation-menu .nav .nav-item a::after{content: '';width: 0%;height: 4px;position: absolute;background: #627413;left: 0;right: 0;bottom: 0;transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-webkit-transition: all 0.5s ease-in-out;}
.navigation-menu .nav .nav-item a.active{font-weight: 800;color: #627413;}
.navigation-menu .nav .nav-item a.active::after{width: 100% !important;}
header .navigation-menu .active {color: #627413;font-weight: 800;}
.navigation-menu .nav .nav-item a:hover,.navigation-menu .nav .nav-item a:focus,.navigation-menu .nav .nav-item a:active,.navigation-menu .nav .nav-item a:visited:hover {color: #627413;}
.navigation-menu .nav .nav-item a:hover::after{width: 100%;}
.profile-btn{padding: 14px;background: #DDE5FF;border-radius: 100%;color: #0A1D5F;}
.profile-btn:hover,.profile-btn.show,.profile-btn:focus{background: #0A1D5F;color: #FFF;}
.account-drop .dropdown-menu{border: none;overflow: hidden;border-radius: 6px;box-shadow: 0 4px 11px rgba(47, 43, 61,.16), 0 0 transparent, 0 0 transparent;left: unset !important;top: 10px !important;right: 0 !important;padding: 0;}
.account-drop .dropdown-menu li{border-bottom: 1px solid #D0D0D0;}
.account-drop .dropdown-menu li:last-child {border-bottom: none;}
.account-drop .dropdown-menu .dropdown-item{padding-top: 8px;padding-bottom: 8px;}
.account-drop .dropdown-menu .dropdown-item:hover,
.account-drop .dropdown-menu .dropdown-item.active, .account-drop .dropdown-menu .dropdown-item:active{background: #0A1D5F;color: #fff;}
@media(max-width:991.98px){.navigation-menu .nav .nav-item a::after{content: none;}}
/* HEADER */
/* MAIN */
.main-wrapper{background: #F7F7F7;min-height: calc((100vh - 163px) - 334px);}
.main-feed{padding-top: 85px;padding-bottom: 85px;}
.main-feed .title{color: #000;font-size: 36px;font-style: normal;font-weight: 900;line-height: normal;}
.search-input{max-width: 300px;}
.search-input .input-group{background: #fff;border-radius: 8px;}
.search-input .input-group-text,.search-input .form-control{background: none;border: none;padding-top: 12px;padding-bottom: 12px;color: #737373;font-size: 18px;font-style: normal;font-weight: 500;line-height: normal;}
.search-input .input-group-text{padding-right: 7px;}
.search-input .form-control{padding-left: 7px;box-shadow: none;}
@media (max-width:460px){.main-feed{padding-top: 35px;padding-bottom: 35px;} .main-feed .title{font-size: 28px}}
/* MAIN */
/* IMG CARD */
.feed-card-img{padding: 15px;border-radius: 6px;background: #FFF;display: flex;flex-direction: column;height: 100%;}
.feed-card-img .feed-card-thumb{width: 150px;height: 150px;overflow: hidden;border-radius: 6px;margin-bottom: 10px;margin-left: auto;margin-right: auto;}
.feed-card-img .feed-card-thumb img{width: 100%;height: 100%;object-fit: contain;}
.feed-card-img .card-header{background: transparent;padding: 0;border: none;margin-bottom: 20px;}
.feed-card-img .card-body{padding:0;margin-bottom: 20px;}
.feed-card-img .feed-card-title{font-size: 18px;font-style: normal;font-weight: 800;line-height: normal;color: #0A1D5F;}
.feed-card-img .feed-card-subtitle{color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}
.feed-card-img .feed-card-list li{width: 100%;display: flex;justify-content: space-between;padding-top: 8px;padding-bottom: 8px;border-bottom: 1px solid #D0D0D0; gap: 10px; flex-wrap: wrap;}
.feed-card-img .feed-card-list li:last-child {border-bottom: none;}
.feed-card-img .listtitle{color: #303030;font-size: 14px;font-weight: 400;position: relative;}
.feed-card-img .listamt{color: #000;font-size: 14px;font-weight: 600;line-height: normal;}
.feed-card-img .profit .listtitle{display: flex;gap: 5px;align-items: center;}
.feed-card-img .profit .listtitle::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%2321a843" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 7l-7.38 7.335c-.997.991-1.496 1.487-2.115 1.487c-.619 0-1.117-.496-2.115-1.488l-.24-.238c-.997-.992-1.497-1.489-2.116-1.489s-1.118.497-2.115 1.49L2 18M22 7v5.546M22 7h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
.feed-card-img .profit .listamt{color: #21A843;}
.feed-card-img .loss .listtitle{display: flex;gap: 5px;align-items: center;}
.feed-card-img .loss .listtitle::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 18l-7.38-7.335c-.997-.991-1.496-1.487-2.115-1.487c-.619 0-1.117.496-2.115 1.488l-.24.238c-.997.992-1.497 1.489-2.116 1.489s-1.118-.497-2.115-1.49L2 7m20 11v-5.546M22 18h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
.feed-card-img .loss .listamt{color: #FF0000;}
.feed-card-img .card-footer{color: #303030;font-size: 14px;font-weight: 400;padding: 0;line-height: normal;background: transparent;border: none;}
.feed-card-img .view-comment{color: #0A1D5F;font-family: Lato;font-size: 16px;font-style: normal;font-weight: 700;line-height: normal;}
.feed-card-img .view-comment:hover {color: #627413;}
.feed-card-img .view-comment .text-muted{color: #909090;}
/* IMG CARD */
/* MSG CARD */
.card-badge-dark{border-radius: 4px;background: #000;padding: 6px 10px;font-weight: 400;line-height: normal;color: #FFF;font-size: 16px;width: fit-content;margin-bottom: 10px;}
.card-badge{border-radius: 4px;background: #627413;padding: 6px 10px;font-weight: 400;line-height: normal;color: #FFF;font-size: 16px;width: fit-content;margin-bottom: 10px;}
.feed-card-msg{padding: 15px;border-radius: 6px;background: #FFF;display: flex;height: 100%;flex-direction: column;}
.feed-card-msg .card-header{background: transparent;padding: 0;border: none;margin-bottom: 20px;}
.feed-card-msg .card-body{padding:0;margin-bottom: 20px;}
.feed-card-msg .msg-content-10{color: #000;font-size: 16px;font-weight: 400;line-height: 26px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 10;-webkit-box-orient: vertical;margin-bottom: 10px;}
.feed-card-msg .msg-content{color: #000;font-size: 16px;font-weight: 400;line-height: 26px;overflow: hidden;display: -webkit-box;-webkit-line-clamp: 4;-webkit-box-orient: vertical;margin-bottom: 10px;}
.feed-card-msg .feed-card-title{font-size: 18px;font-style: normal;font-weight: 800;line-height: normal;color: #0A1D5F;}
.feed-card-msg .feed-card-subtitle{color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}
.feed-card-msg .card-footer{color: #303030;font-size: 14px;font-weight: 400;padding: 0;line-height: normal;background: transparent;border: none;}
.feed-card-msg .card-footer.post-time{color: #627413;font-size: 14px;font-weight: 800;padding: 0;line-height: normal;background: transparent;border: none;}
.feed-card-msg .msgreadmore{font-weight: 800;font-size: 18px;color: #0A1D5F;}
.feed-card-msg .grmsgreadmore{font-weight: 800;font-size: 18px;color: #627413;}
.feed-card-msg .msgreadmore:hover{color: #627413;}
.feed-card-msg .grmsgreadmore:hover{font-weight: 800;font-size: 18px;color:#0A1D5F;}
/* MSG CARD */
/* PAGINATION */
.pagination-custom{margin-top: 40px;}
.pagination-custom .page-link{display: flex;justify-content: center;align-items: center;border-radius: 0.475rem;height: 2.20rem;min-width: 2.20rem;font-weight: 600;font-size: 14px;border: none;margin-right: 6px;line-height: normal;color: #000000;}
.pagination-custom .page-linkinv{display: flex;justify-content: center;align-items: center;border-radius: 0.475rem;height: 2.20rem;min-width: 2.20rem;font-weight: 600;font-size: 14px;border: none;margin-right: 6px;line-height: normal;color: #000000;background-color: #F8F8F8;}
.pagination-custom .page-link:focus,.pagination-custom .page-linkinv:focus{box-shadow: none;}
.pagination-custom .page-item.disabled .page-link,.pagination-custom .page-item.disabled .page-linkinv{color: #6c757d;}
.page-link:hover,.page-linkinv:hover {z-index: 2;background-color: #e9ecef;border-color: #dee2e6;}
.pagination-custom .page-icon>svg,.pagination-orng .page-icon>svg {height: 0.875rem;width: 0.875rem;display: flex;align-items: center;justify-content: center;}
.pagination-custom .page-item:last-child .page-link,.pagination-orng .page-item:last-child .page-link,
.pagination-custom .page-item:last-child .page-linkinv,.pagination-orng .page-item:last-child .page-linkinv
{border-top-right-radius: 0.475rem;border-bottom-right-radius: 0.475rem;}
.pagination-custom .page-item:first-child .page-link,.pagination-orng .page-item:first-child .page-link,
.pagination-custom .page-item:first-child .page-linkinv,.pagination-orng .page-item:first-child .page-linkinv{border-top-left-radius: 0.475rem;border-bottom-left-radius: 0.475rem;}
.pagination-custom .page-item.active .page-link,.pagination-custom .page-item.active .page-linkinv{background-color:#0A1D5F !important;border-color: #0A1D5F!important; color: #fff;}
/* PAGINATION */
/* MSG MODAL */
.msg-modal .modal-title{color: #000;font-size: 24px;font-weight: 600;}
.msg-modal .msgtitle{color: #0A1D5F;font-size: 24px;font-weight: 800;margin-bottom:10px;}
.msg-modal .msgsubtitle{color: #000;font-size: 18px;font-weight: 600;margin-bottom:10px;}
.msgcontent{color: #000;font-size: 16px;font-weight: 500;line-height: 26px;}
.modal .modal-dialog{max-width: 760px;}
.gallery{display: grid;grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));gap: 20px;}
.gallery .gallery-thmb{max-width: 200px;}
.gallery img{max-width: 100%;height: auto;}
/* MSG MODAL */
/* WITHOUT IMG CARD */
.feed-card{padding: 15px;border-radius: 6px;background: #FFF;display: flex;flex-direction: column;height: 100%;}
.feed-card .card-header{background: transparent;padding: 0;border: none;margin-bottom: 20px;}
.feed-card .card-body{padding:0;margin-bottom: 20px;}
.feed-card .feed-card-title{font-size: 18px;font-style: normal;font-weight: 800;line-height: normal;color: #0A1D5F;}
.feed-card .feed-card-subtitle{color: #000;font-size: 16px;font-style: normal;font-weight: 400;line-height: normal;}
.feed-card .feed-card-list li{width: 100%;display: flex;justify-content: space-between;padding-top: 8px;padding-bottom: 8px;border-bottom: 1px solid #D0D0D0; gap: 10px; flex-wrap: wrap;}
.feed-card .feed-card-list li:last-child {border-bottom: none;}
.feed-card .listtitle{color: #303030;font-size: 14px;font-weight: 400;position: relative;}
.feed-card .listamt{color: #000;font-size: 14px;font-weight: 600;line-height: normal;}
.feed-card .profit .listtitle{display: flex;gap: 5px;align-items: center;}
.feed-card .profit .listtitle::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%2321a843" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 7l-7.38 7.335c-.997.991-1.496 1.487-2.115 1.487c-.619 0-1.117-.496-2.115-1.488l-.24-.238c-.997-.992-1.497-1.489-2.116-1.489s-1.118.497-2.115 1.49L2 18M22 7v5.546M22 7h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
.feed-card .profit .listamt{color: #21A843;}
.feed-card .loss .listtitle{display: flex;gap: 5px;align-items: center;}
.feed-card .loss .listtitle::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 18l-7.38-7.335c-.997-.991-1.496-1.487-2.115-1.487c-.619 0-1.117.496-2.115 1.488l-.24.238c-.997.992-1.497 1.489-2.116 1.489s-1.118-.497-2.115-1.49L2 7m20 11v-5.546M22 18h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
.feed-card .loss .listamt{color: #FF0000;}
.feed-card .card-footer{color: #627413;font-size: 14px;font-weight: 800;padding: 0;line-height: normal;background: transparent;border: none;}
.feed-card .view-comment{color: #0A1D5F;font-family: Lato;font-size: 16px;font-style: normal;font-weight: 700;line-height: normal;}
.feed-card .view-comment:hover {color: #627413;}
.feed-card .view-comment .text-muted{color: #909090;}
/* WITHOUT IMG CARD */
/* TABLE */
.tbl-card{padding: 15px;border-radius: 6px;background: #FFF;}
td{transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.table-hover>tbody>tr:hover>*{background: #F1FFB5;}
.table>:not(:first-child){border-top: none;}
.list th{color: #000;font-size: 16px;font-weight: 700;border-color: #B9B9B9;}
.list td{color: #5F5F5F;font-size: 14px;font-weight: 600;border-color: #B9B9B9;padding: 5px 10px;}
.stock-profile{display: flex;align-items: center;gap: 10px;color: #000;}
.stock-profile .stock-img{width: 34px;height: 34px;display: block;border-radius: 4px;overflow: hidden; background: #fff;}
.stock-profile .stock-img img{width: 100%;height: 100%;object-fit: contain;}
tr:last-child td{border: none;}
tr{cursor: pointer;}
.tbl-card thead { background-color: #DDE5FF; }


.tblprofit{display: flex;gap: 5px;align-items: center; color: #21A843;}
.tblprofit::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="%2321a843" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 7l-7.38 7.335c-.997.991-1.496 1.487-2.115 1.487c-.619 0-1.117-.496-2.115-1.488l-.24-.238c-.997-.992-1.497-1.489-2.116-1.489s-1.118.497-2.115 1.49L2 18M22 7v5.546M22 7h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
.tblloss{display: flex;gap: 5px;align-items: center; color: #FF0000;}
.tblloss::after{content:url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="16" height="16" viewBox="0 0 24 24"%3E%3Cpath fill="none" stroke="red" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="m22 18l-7.38-7.335c-.997-.991-1.496-1.487-2.115-1.487c-.619 0-1.117.496-2.115 1.488l-.24.238c-.997.992-1.497 1.489-2.116 1.489s-1.118-.497-2.115-1.49L2 7m20 11v-5.546M22 18h-5.582"%2F%3E%3C%2Fsvg%3E');width: 16px;height: 16px;display: flex;}
/* TABLE */
/* FOOTER */
footer{padding-top: 50px;padding-bottom: 50px;background: #FFF;box-shadow: 0px -1px 28px 0px rgba(0, 0, 0, 0.12);}
.footerlogo{max-width: 190px;}
.footerlogo img{width: 100%;}
footer h4{color: #000;font-size: 24px;font-weight: 700; margin-bottom: 20px;}
footer .navbar-nav .nav-link{color: #333;font-size: 18px;font-weight: 600;padding-top: 5px;padding-bottom: 5px;}
footer .navbar-nav .nav-link:hover{color: #627413;}
.copyright{background: #0A1D5F;padding: 10px;color: #fff;color: #FFF;font-size: 16px;font-weight: 500;text-align: center;}
/* FOOTER */
/* ACCOUNT DETAILS */
.tab-nav{list-style: none;padding-left: 0; display: flex; flex-direction: column; gap: 14px; position: sticky; top: 10px;}
.tab-nav .nav-link{padding: 15px; background: #fff; text-align: center;border-radius: 8px;color: #000;font-size: 18px;font-weight: 600;}
.tab-nav .nav-link:active,.tab-nav .nav-link.active{font-weight: 800;}
.tab-nav .nav-link:hover,.tab-nav .nav-link:active,.tab-nav .nav-link.active{background: #627413;color: #fff;}
.tab-card{border-radius: 6px;background: #FFF;padding: 20px;margin-bottom: 30px;}
.tab-card-header{color: #000;font-size: 24px;font-weight: 700;padding-bottom: 15px; border-bottom: 1px solid #DCDCDC;}
.tab-card-body{padding-top: 30px;}
.usr-form label{color: #000;font-size: 16px;font-weight: 600;}
.usr-form .form-control,.usr-form .input-group,.card-js input{transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;}
.usr-form .form-control,.card-js input{border-radius: 6px;padding: 12px;font-size: 16px;font-weight: 600;border: 1px solid #D6D6D6;}
.usr-form .form-control::placeholder,.card-js input::placeholder{color:#737373;font-size: 14px;font-weight: 600;}
.usr-form .form-control:hover,.usr-form .form-control:focus,.usr-form .input-group:hover,.usr-form .input-group:focus-within,
.card-js input:hover,.card-js input:focus{box-shadow: none;border-color: #627413;}
.card-js input{height: auto;}
.input-group svg{color: #737373;}
.usr-form .form-control:read-only{border-color: #627413;background: #F1FFB5;}
.usr-form .input-group {border-radius: 6px;border: 1px solid #D6D6D6;}
.usr-form .input-group .input-group-text,.usr-form .input-group .form-control{border: none;background: none;}
.btn-grn{border-radius: 6px;background: #627413;padding: 12px 18px;color: #fff;font-size: 18px;font-weight: 700;}
.btn-sub{min-width: 180px;border-radius:6px;background: #627413;padding: 12px 10px;color: #fff;font-size: 18px;font-weight: 700;}
.btn-gray{border-radius: 6px;background:#E4E6EF;padding: 12px 18px;color: #333;font-size: 18px;font-weight: 700;}
.btn-gray:hover,.btn-gray:focus{background:#c3c5cc;}
.btn-sub:hover,.btn-sub:focus,.btn-grn:hover,.btn-grn:focus{background: #3d490b;color: #fff;box-shadow: none;}
.avatar-upload {position: relative;max-width: 125px;margin-top: 18px;margin-bottom: 20px;}
.avatar-upload .avatar-edit {position: absolute;right: -15px;z-index: 1;top: -10px;}
.avatar-upload .avatar-edit input {display: none;}
.avatar-upload .avatar-edit input + label {display: flex;justify-content: center;align-items: center;width: 25px;height: 25px;font-size: 14px;margin-bottom: 0;border-radius: 100%;background: #FFFFFF;border: 1px solid #D6D6D6;cursor: pointer;font-weight: normal;transition: all 0.2s ease-in-out;}
.avatar-upload .avatar-edit input + label:hover {background: #f1f1f1;}
.avatar-upload .avatar-edit input + label:after {content: '';color: #757575;position: absolute;top: 10px;left: 0;right: 0;text-align: center;margin: auto;}
.avatar-upload .avatar-preview {width: 130px;height: 130px;position: relative;border-radius: 7px;overflow: hidden;border: 1px solid #D6D6D6;}
.avatar-preview #imagePreview{width: 100%; height: 100%;background-size: cover; background-position: center; background-repeat: no-repeat;}
.password-hide-icon {display: none;}
/* ACCOUNT DETAILS */
.m-title{color: #5F5F5F;font-size: 18px;font-weight: 400;}
.m-subtitle{color: #000;font-size: 16px;font-weight: 700;}
.btn-dang{border-radius: 6px;background: #EB001B;padding: 12px 12px;color: #fff;font-size: 18px;font-weight: 700;}
.btn-dang:hover,.btn-dang:focus{background: #d10018;color: #fff;box-shadow: none;}
.paid-badge{color:#34C759;font-size: 12px;font-weight: 700;padding: 4px 8px;border-radius: 4px;background: #D8FFE2;}
.unpaid-badge{color:#d10018;font-size: 12px;font-weight: 700;padding: 4px 8px;border-radius: 4px;background: #ffd8dd;}
.invoice-list th{color: #000;font-size: 16px;font-weight: 700;border-color: #B9B9B9;}
.invoice-list td{border-color: #B9B9B9;color: #000;font-size:0.82rem;font-weight: 600;}
.add-card{border-radius: 8px;height: 100%;overflow: hidden;position: relative;display: flex;flex-direction: column;border: 2px dashed #C1C1C1;padding:15px;}
.card-img{width: 60px;height: 48px;overflow: hidden;border-radius: 6px;}
.card-img img{width: 100%; height: 100%;object-fit: cover;}
.about-card{display: flex;align-items: center;gap: 15px;}
.add-card .card-holder-name{color: #000;font-size: 18px;font-weight: 500;margin-bottom: 15px;}
.add-card .card-detail h6{color: #000;font-family: Lato;font-size: 16px;font-style: normal;font-weight: 600;line-height: normal;}
.add-card-detail{display: flex; align-items: center; gap: 15px; justify-content: space-between; margin-top: auto; margin-bottom: auto;}
.add-card .card-head{display: flex; gap: 8px; flex-wrap: wrap; justify-content: space-between;}



.radio-button-container input {position: absolute;opacity: 0;cursor: pointer;}
.checkmark {width: 23px;height: 23px;position: relative;background-color: rgba(0,0,0,0);border-radius: 50%;border: 2px solid rgba(0,0,0,0.25);transition: all 0.3s;display: flex;align-items: center;justify-content: center;padding: 10px;}
.radio-button-container:hover input ~ .checkmark {border-color: rgba(0,0,0,0.5);}
.radio-button-container input:checked ~ .checkmark {background-color: rgba(0,0,0,0);border-color: #0A1D5F;}
.checkmark:after {content: "";position: absolute;display: none;}
.radio-button-container input:checked ~ .checkmark:after {display: block;}
.radio-button-container .checkmark:after {top: 4px;left: 4px;width: 12px;height: 12px;border-radius: 50%;background: #0A1D5F;}


.card-js .card-number-wrapper .card-type-icon{top: 13px;}
.search-inputinv{max-width: 300px;}
.search-inputinv .input-group{background: #F8F8F8;border-radius: 8px;}
.search-inputinv .input-group-text,.search-inputinv .form-control{background: none;border: none;padding-top: 12px;padding-bottom: 12px;color: #737373;font-size: 18px;font-style: normal;font-weight: 500;line-height: normal;}
.search-inputinv .input-group-text{padding-right: 7px;}
.search-inputinv .form-control{padding-left: 7px;box-shadow: none;}

/* New add css 28-10-23 */

.login-section {
    max-width: 600px;
    margin: 60px auto 60px;
}
.home-content{
    padding: 50px 0;
}
.welcome-msg {
    padding: 60px 20px;
}
.account-section {
    padding: 0 10px 50px;
}

.subscription-section, .checkout-section {
    margin-top: 130px;
    padding: 50px 0;
}
.subscription-section h1 {
    font-size: 60px;
}
.subscription-title {
    padding-bottom: 50px;
}
.blue-underlay {
    position: relative;
    z-index: 1;
}
.side-by-side__image {
    width: 100%;
}
.clipped-image img {
    clip-path: polygon(100% 0,100% 90%,87% 100%,0 100%,0 0);
}
.side-by-side__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.subscription_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}
.subscription_content h2 {
    padding-bottom: 20px;
}
.subscription_content ul {
    list-style-type: none;
    padding-left: 40px;
}
.subscription_content ul li {
    padding-bottom: 5px;
    font-size: 20px;
}
.subscription_content ul li::before {
    content: "\2713";
    margin-right: 10px;
    color: #008cff;
    font-weight: bold;
}
.subscription_row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
    grid-gap: 50px;
    padding: 60px 0;
}
.subscription_box {
    position: relative;
    background: #fff;
    padding: 35px 40px;
    border-radius: 20px;
    box-shadow: rgb(0 0 0 / 24%) 0 7px 12px 5px;
}
.subsscription_box_popular {
    border: 4px solid #0731c5;
}
.subscription_box .title {
    font-size: 20px;
    text-transform: uppercase;
}
.subscription_box .price {
    font-size: 20px;
    color: #627413;
}
.subscription_box .content {
    padding: 15px 0;
}
.subscription_box .btn_subscribe {
    text-decoration: none;
    position: relative;
    display: block;
    letter-spacing: 1px;
    padding: 10px 0;
    border-radius: 10px;
    font-size: 23px;
    background: white;
    border: 1px solid #627413;
    text-align: center;
    text-transform: uppercase;
    color: #627413;
}
.subscription_box .popular_badge {
    position: absolute;
    top: -36px;
    background: #f78d1f;
    text-transform: uppercase;
    color: white;
    right: 35px;
    padding: 4px 11px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
}
.subscription_box .btn_subscribe_popular {
    background: #627413;
    color: white;
}
.short-description {
    color: #008cff;
    margin-bottom: 3px;
}
.short-description {
    color: #008cff;
    margin-bottom: 3px;
}

/*  */
@media(max-width:767.98px){
    .tab-nav{flex-direction: row;}
    .tab-nav>li{width: 100%;}
    .tab-nav .nav-link{padding-left: 10px; padding-right: 10px;}
}
@media(max-width:567.98px){
    .tab-nav{flex-direction: column;}
}
@media(max-width:499.98px){
    .about-card,.add-card-detail{
        flex-direction: column;
    }
}

table > tbody > tr.fold {display: none;}
table > tbody > tr.fold.open {display: table-row;}
tr.view.open .drow-arrow>svg{
    transform: rotate(90deg);
}